<%= form_for(@test) do |f| %>
<br>

<h3>Instrucciones</h3>
<p>Lee con atención cada situación que se presenta y escoge la respuesta que mejor refleje tu actuación habitual.
</p>
<p>
Una vez que completes <strong>todas</strong> las competencias que aparecen (pensamiento lateral, liderazgo, flexibilidad, tolerancia a la frustración, trabajo en equipo, capacidad de aprendizaje, comunicación, cambio) da click en el botón <strong>"Obtener resultados".</strong>
</p>

<p>
Los resultados sólo se desplegarán si completaste <strong>todo </strong> el test.
</p>

<p>
Este test está en versión <strong>BETA</strong>, así que cualquier duda o comentario que tengas compártela al correo:</p>
<%= link_to "mailto:contacto@idearialab.com?Subject=Comentario%20del%20Test" do %>
<p>contacto@idearialab.com</p>
<%end %>


<% if @test.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h4>

  <ul>
    <% @test.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<br><br>
<div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, :required => true %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, :required => true %>
    </div>
  </div>
</div>


<%= render "#{@test.current_step}", f: f %>




<div class="actions">
  <%= f.submit "Atrás" , class: "btn button_blue2",  :name => "back_button" unless @test.first_step? %>
  <%= f.submit "Siguiente", class: "btn button_blue" %>
</div>


<% end %>
