<h4>Liderazgo</h4>

<div class="row">
  <div class="col-md-6">
    <p>Consigues que se reúnan personas a las que no les gusta trabajar juntas</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l21, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Consigues ayudar a unificar los criterios de los miembros del equipo antes de iniciar la tarea</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l22, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Consideras que el ambiente es clave para facilitar el trabajo del equipo</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l23, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Has implementado acciones correctivas a partir de la evaluación de clima del clima de la organización o del equipo</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l24, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Promueves entre tus colaboradores que te presenten propuestas y sugerencias innovadoras y creativas</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l25, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Conoces a los colaboradores de tus colaboradores</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l26, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}%>
  </div>
</div>