<h4>Trabajo en equipo</h4>

<div class="row">
  <div class="col-md-6">
    <p>Valoras las aportaciones de los demás aunque no vayan de acuerdo con la solución que propones</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l51, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Te sientes amenazado por las buenas ideas de otros</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l52, [["Completamente de acuerdo", 1], ["De acuerdo", 2], ["Ni en acuerdo ni en desacuerdo", 3], ["En desacuerdo", 4]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Te caracterizas por cooperar con las personas que tienen buenas ideas</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l53, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Aceptas ideas de personas que vienen de otro ambiente o sector</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l54, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Manifiestas un trato cordial a quienes disienten de tu manera de pensar</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l55, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>