<p id="notice"><%= notice %></p>

<h1>Listing Tests</h1>

<div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>

      <th>Pensamiento Lateral</th>

      <th>Liderazgo</th>

      <th>Flexibilidad</th>

      <th>Tolerancia a la Frustración</th>

      <th>Trabajo en Equipo</th>

      <th>Capacidad de Aprendizaje</th>

      <th>Comunicación</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.nombre %></td>
        <td><%= test.email %></td>

        <td><%= test.l1total %></td>

        <td><%= test.l2total %></td>

        <td><%= test.l3total %></td>

        <td><%= test.l4total %></td>

        <td><%= test.l5total %></td>

        <td><%= test.l6total %></td>

        <td><%= test.l7total %></td>


        <td><%= link_to 'Ver', test %></td>
        <td><%= link_to 'Editar', edit_test_path(test) %></td>
        <td><%= link_to 'Eliminar', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nuevo Test', new_test_path %>
