<div class="col-md-10 col-md-offset-1">
  <div id="formario">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @test.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @test.email %>
</p>




<%= column_chart({"Innovación" => @test.l1total,"Liderazgo" => @test.l2total,"Flexibilidad" => @test.l3total,"Tolerancia a la Frustración" => @test.l4total,"Trabajo en Equipo" => @test.l5total,"Capacidad de Aprendizaje" => @test.l6total,"Comunicación" => @test.l7total,"Cambio" => @test.l8total,}) %>

<%= link_to 'Edit', edit_test_path(@test) %>


<%= javascript_include_tag "https://www.google.com/jsapi" %>
  </div>
</div>


