<!DOCTYPE html>
<html>
<head>
  <title>Test de innovación | Idearia Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if alert %>
	<p class="alert"><%= alert %></p>
	<% elsif notice %>
	<p class="notice"><%= notice %></p>
	<% end %>


<div class="col-md-10 col-md-offset-1">
	<div id="formario">
<%= yield %>

	</div>
</div>


</body>

</html>
